:root,[data-bs-theme=light] {
    --bs-default: #e9ecef;
    --bs-primary: #348fe2;
    --bs-secondary: #6c757d;
    --bs-success: #00acac;
    --bs-info: #49b6d6;
    --bs-warning: #f59c1a;
    --bs-danger: #ff5b57;
    --bs-light: #f2f3f4;
    --bs-dark: #2d353c;
    --bs-inverse: #2d353c;
    --bs-blue: #348fe2;
    --bs-indigo: #8753de;
    --bs-purple: #727cb6;
    --bs-pink: #fb5597;
    --bs-red: #ff5b57;
    --bs-orange: #f59c1a;
    --bs-yellow: #ffd900;
    --bs-green: #32a932;
    --bs-teal: #00acac;
    --bs-lime: #90ca4b;
    --bs-cyan: #49b6d6;
    --bs-white: #FFFFFF;
    --bs-gray: #6c757d;
    --bs-gray-dark: #2d353c;
    --bs-muted: #adb5bd;
    --bs-black: #000000;
    --bs-silver: #b6c2c9;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #2d353c;
    --bs-gray-900: #20252a;
    --bs-default-rgb: 233,236,239;
    --bs-primary-rgb: 52,143,226;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 0,172,172;
    --bs-info-rgb: 73,182,214;
    --bs-warning-rgb: 245,156,26;
    --bs-danger-rgb: 255,91,87;
    --bs-light-rgb: 242,243,244;
    --bs-dark-rgb: 45,53,60;
    --bs-inverse-rgb: 45,53,60;
    --bs-blue-rgb: 52,143,226;
    --bs-indigo-rgb: 135,83,222;
    --bs-purple-rgb: 114,124,182;
    --bs-pink-rgb: 251,85,151;
    --bs-red-rgb: 255,91,87;
    --bs-orange-rgb: 245,156,26;
    --bs-yellow-rgb: 255,217,0;
    --bs-green-rgb: 50,169,50;
    --bs-teal-rgb: 0,172,172;
    --bs-lime-rgb: 144,202,75;
    --bs-cyan-rgb: 73,182,214;
    --bs-white-rgb: 255,255,255;
    --bs-gray-rgb: 108,117,125;
    --bs-gray-dark-rgb: 45,53,60;
    --bs-muted-rgb: 173,181,189;
    --bs-black-rgb: 0,0,0;
    --bs-silver-rgb: 182,194,201;
    --bs-gray-100-rgb: 248,249,250;
    --bs-gray-200-rgb: 233,236,239;
    --bs-gray-300-rgb: 222,226,230;
    --bs-gray-400-rgb: 206,212,218;
    --bs-gray-500-rgb: 173,181,189;
    --bs-gray-600-rgb: 108,117,125;
    --bs-gray-700-rgb: 73,80,87;
    --bs-gray-800-rgb: 45,53,60;
    --bs-gray-900-rgb: 32,37,42;
    --bs-primary-text-emphasis: #15395a;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #004545;
    --bs-info-text-emphasis: #1d4956;
    --bs-warning-text-emphasis: #623e0a;
    --bs-danger-text-emphasis: #662423;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #d6e9f9;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #cceeee;
    --bs-info-bg-subtle: #dbf0f7;
    --bs-warning-bg-subtle: #fdebd1;
    --bs-danger-bg-subtle: #ffdedd;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #aed2f3;
    --bs-secondary-border-subtle: #c4c8cb;
    --bs-success-border-subtle: #99dede;
    --bs-info-border-subtle: #b6e2ef;
    --bs-warning-border-subtle: #fbd7a3;
    --bs-danger-border-subtle: #ffbdbc;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: "Open Sans",sans-serif;
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.75rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #2d353c;
    --bs-body-color-rgb: 45,53,60;
    --bs-body-bg: #dee2e6;
    --bs-body-bg-rgb: 222,226,230;
    --bs-emphasis-color: #000000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(45, 53, 60, 0.75);
    --bs-secondary-color-rgb: 45,53,60;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233,236,239;
    --bs-tertiary-color: rgba(45, 53, 60, 0.5);
    --bs-tertiary-color-rgb: 45,53,60;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248,249,250;
    --bs-heading-color: inherit;
    --bs-link-color: #348fe2;
    --bs-link-color-rgb: 52,143,226;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #2a72b5;
    --bs-link-hover-color-rgb: 42,114,181;
    --bs-code-color: #f90a69;
    --bs-highlight-color: #2d353c;
    --bs-highlight-bg: #fff7cc;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #ced4da;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 4px;
    --bs-border-radius-sm: 3px;
    --bs-border-radius-lg: 6px;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(52, 143, 226, 0.25);
    --bs-form-valid-color: #00acac;
    --bs-form-valid-border-color: #00acac;
    --bs-form-invalid-color: #ff5b57;
    --bs-form-invalid-border-color: #ff5b57
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: 222,226,230;
    --bs-body-bg: #161a1d;
    --bs-body-bg-rgb: 22,26,29;
    --bs-emphasis-color: #FFFFFF;
    --bs-emphasis-color-rgb: 255,255,255;
    --bs-secondary-color: rgba(222, 226, 230, 0.75);
    --bs-secondary-color-rgb: 222,226,230;
    --bs-secondary-bg: #2d353c;
    --bs-secondary-bg-rgb: 45,53,60;
    --bs-tertiary-color: rgba(222, 226, 230, 0.5);
    --bs-tertiary-color-rgb: 222,226,230;
    --bs-tertiary-bg: #272d33;
    --bs-tertiary-bg-rgb: 39,45,51;
    --bs-primary-text-emphasis: #85bcee;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #66cdcd;
    --bs-info-text-emphasis: #92d3e6;
    --bs-warning-text-emphasis: #f9c476;
    --bs-danger-text-emphasis: #ff9d9a;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #0a1d2d;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #002222;
    --bs-info-bg-subtle: #0f242b;
    --bs-warning-bg-subtle: #311f05;
    --bs-danger-bg-subtle: #331211;
    --bs-light-bg-subtle: #2d353c;
    --bs-dark-bg-subtle: #171b1e;
    --bs-primary-border-subtle: #1f5688;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #006767;
    --bs-info-border-subtle: #2c6d80;
    --bs-warning-border-subtle: #935e10;
    --bs-danger-border-subtle: #993734;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #2d353c;
    --bs-heading-color: inherit;
    --bs-link-color: #85bcee;
    --bs-link-hover-color: #9dc9f1;
    --bs-link-color-rgb: 133,188,238;
    --bs-link-hover-color-rgb: 157,201,241;
    --bs-code-color: #fb6ca5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #665700;
    --bs-border-color: #6c757d;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #84cb84;
    --bs-form-valid-border-color: #84cb84;
    --bs-form-invalid-color: #ff9d9a;
    --bs-form-invalid-border-color: #ff9d9a
}


:root,[data-bs-theme=light] {
    --bs-app-theme: #00acac;
    --bs-app-theme-rgb: 0,172,172;
    --bs-app-theme-color: #FFFFFF;
    --bs-app-theme-color-rgb: 255,255,255;
    --bs-app-theme-hover: #008181;
    --bs-app-theme-hover-border-color: #008181;
    --bs-app-theme-hover-color: #FFFFFF;
    --bs-app-theme-active: #008181;
    --bs-app-theme-active-border-color: #008181;
    --bs-app-theme-active-color: #FFFFFF;
    --bs-app-theme-disabled: #40c1c1;
    --bs-app-theme-disabled-border-color: #40c1c1;
    --bs-app-theme-disabled-color: #FFFFFF;
    --bs-border-color: #ced4da;
    --bs-border-color-rgb: 206,212,218;
    --bs-app-header-bg: #FFFFFF;
    --bs-app-header-bg-rgb: 255,255,255;
    --bs-app-header-color: #20252a;
    --bs-app-header-color-rgb: 32,37,42;
    --bs-app-header-input-bg: #f2f3f4;
    --bs-app-header-input-border: #f2f3f4;
    --bs-app-header-mobile-divider-bg: #edf0f2;
    --bs-app-header-divider-bg: #dee2e6;
    --bs-app-sidebar-bg: #FFFFFF;
    --bs-app-sidebar-bg-rgb: 255,255,255;
    --bs-app-sidebar-bg-transparent: url(images/cover-sidebar.jpg);
    --bs-app-sidebar-profile-bg: #20252a;
    --bs-app-sidebar-profile-bg-rgb: 32,37,42;
    --bs-app-sidebar-profile-color: #FFFFFF;
    --bs-app-sidebar-profile-color-rgb: 255,255,255;
    --bs-app-sidebar-component-color: #2d353c;
    --bs-app-sidebar-component-color-rgb: 45,53,60;
    --bs-app-sidebar-component-active-bg: #f0f2f4;
    --bs-app-sidebar-component-active-color: #20252a;
    --bs-app-sidebar-menu-header-color: #adb5bd;
    --bs-app-sidebar-menu-divider-bg: #dee2e6;
    --bs-app-sidebar-menu-icon-color: inherit;
    --bs-app-sidebar-menu-badge-bg: #dee2e6;
    --bs-app-sidebar-menu-badge-color: #2d353c;
    --bs-app-sidebar-menu-badge-font-weight: 700;
    --bs-app-sidebar-menu-link-color: #6c757d;
    --bs-app-sidebar-menu-link-hover-color: #20252a;
    --bs-app-sidebar-menu-link-font-weight: 600;
    --bs-app-sidebar-menu-submenu-bg: none;
    --bs-app-sidebar-menu-submenu-link-color: #6c757d;
    --bs-app-sidebar-menu-submenu-link-hover-color: #20252a;
    --bs-app-sidebar-menu-submenu-link-font-weight: 600;
    --bs-app-sidebar-menu-grid-bg: #dee2e6;
    --bs-app-sidebar-menu-grid-border-width: 2px;
    --bs-app-sidebar-menu-grid-border-color: #dee2e6;
    --bs-app-sidebar-grid-border-color: #dee2e6;
    --bs-app-sidebar-minify-btn-bg: #e9ecef;
    --bs-app-sidebar-minify-btn-hover-bg: #ced4da;
    --bs-app-sidebar-float-submenu-bg: #f8f9fa;
    --bs-app-sidebar-float-submenu-grid-border-color: #dee2e6;
    --bs-app-top-menu-bg: #FFFFFF;
    --bs-app-top-menu-link-color: rgba(32, 37, 42, 0.6);
    --bs-app-top-menu-link-font-weight: 600;
    --bs-app-top-menu-link-hover-color: #20252a;
    --bs-app-top-menu-link-hover-bg: none;
    --bs-app-top-menu-link-active-color: #20252a;
    --bs-app-top-menu-link-active-bg: none;
    --bs-app-top-menu-menu-badge-bg: #e9ecef;
    --bs-app-top-menu-menu-badge-color: #20252a;
    --bs-app-top-menu-menu-badge-font-weight: 600;
    --bs-app-top-menu-menu-submenu-bg: #f8f9fa;
    --bs-app-top-menu-menu-submenu-submenu-bg: rgba(0, 0, 0, 0.1);
    --bs-app-top-menu-control-link-bg: #FFFFFF;
    --bs-app-top-menu-control-link-color: rgba(32, 37, 42, 0.6);
    --bs-app-top-menu-control-link-hover-bg: #FFFFFF;
    --bs-app-top-menu-control-link-hover-color: #20252a;
    --bs-app-login-bg-cover: url(images/bg-login.png);
    --bs-component-bg: #FFFFFF;
    --bs-component-bg-rgb: 255,255,255;
    --bs-component-secondary-bg: #dee2e6;
    --bs-component-secondary-bg-rgb: 222,226,230;
    --bs-component-tertiary-bg: #adb5bd;
    --bs-component-tertiary-bg-rgb: 173,181,189;
    --bs-component-dropdown-bg: #FFFFFF;
    --bs-component-dropdown-bg-rgb: 255,255,255;
    --bs-component-dropdown-hover-bg: #eff1f3;
    --bs-component-dropdown-hover-bg-rgb: 239,241,243;
    --bs-component-dropdown-border-color: #ced4da;
    --bs-component-dropdown-border-color-rgb: 206,212,218;
    --bs-component-modal-bg: #FFFFFF;
    --bs-component-modal-bg-rgb: 255,255,255;
    --bs-component-modal-border-color: #ced4da;
    --bs-component-modal-border-color-rgb: 206,212,218;
    --bs-component-secondary-bg: #dee2e6;
    --bs-component-color: #20252a;
    --bs-component-color-rgb: 32,37,42;
    --bs-component-border-color: #ced4da;
    --bs-component-border-color-rgb: 206,212,218;
    --bs-component-active-bg: #348fe2;
    --bs-component-active-bg-rgb: 52,143,226;
    --bs-component-active-color: #FFFFFF;
    --bs-component-active-color-rgb: 255,255,255;
    --bs-component-hover-bg: #eff1f3;
    --bs-component-hover-color: #20252a;
    --bs-component-hover-border-color: #ced4da;
    --bs-component-focus-border-color: #67abe9;
    --bs-component-disabled-bg: #e9ecef;
    --bs-component-disabled-color: #adb5bd;
    --bs-component-disabled-border-color: #ced4da;
    --bs-component-table-border-color: #ced4da;
    --bs-component-table-separator-color: currentColor;
    --bs-default-bg-subtle: #f8f9fa;
    --bs-default-text-emphasis: #464748;
    --bs-default-border-subtle: #f8f9fa;
    --bs-primary-bg-subtle: #c2ddf6;
    --bs-primary-text-emphasis: #102b44;
    --bs-primary-border-subtle: #c2ddf6;
    --bs-secondary-bg-subtle: #d3d6d8;
    --bs-secondary-text-emphasis: #202326;
    --bs-secondary-border-subtle: #d3d6d8;
    --bs-success-bg-subtle: #b3e6e6;
    --bs-success-text-emphasis: #003434;
    --bs-success-border-subtle: #b3e6e6;
    --bs-info-bg-subtle: #c8e9f3;
    --bs-info-text-emphasis: #163740;
    --bs-info-border-subtle: #c8e9f3;
    --bs-warning-bg-subtle: #fce1ba;
    --bs-warning-text-emphasis: #4a2f08;
    --bs-warning-border-subtle: #fce1ba;
    --bs-danger-bg-subtle: #ffcecd;
    --bs-danger-text-emphasis: #4d1b1a;
    --bs-danger-border-subtle: #ffcecd;
    --bs-light-bg-subtle: #fbfbfc;
    --bs-light-text-emphasis: #494949;
    --bs-light-border-subtle: #fbfbfc;
    --bs-dark-bg-subtle: #c0c2c5;
    --bs-dark-text-emphasis: #0e1012;
    --bs-dark-border-subtle: #c0c2c5;
    --bs-inverse-bg-subtle: #c0c2c5;
    --bs-inverse-text-emphasis: #0e1012;
    --bs-inverse-border-subtle: #c0c2c5;
    --bs-blue-bg-subtle: #c2ddf6;
    --bs-blue-text-emphasis: #102b44;
    --bs-blue-border-subtle: #c2ddf6;
    --bs-indigo-bg-subtle: #dbcbf5;
    --bs-indigo-text-emphasis: #291943;
    --bs-indigo-border-subtle: #dbcbf5;
    --bs-purple-bg-subtle: #d5d8e9;
    --bs-purple-text-emphasis: #222537;
    --bs-purple-border-subtle: #d5d8e9;
    --bs-pink-bg-subtle: #fecce0;
    --bs-pink-text-emphasis: #4b1a2d;
    --bs-pink-border-subtle: #fecce0;
    --bs-red-bg-subtle: #ffcecd;
    --bs-red-text-emphasis: #4d1b1a;
    --bs-red-border-subtle: #ffcecd;
    --bs-orange-bg-subtle: #fce1ba;
    --bs-orange-text-emphasis: #4a2f08;
    --bs-orange-border-subtle: #fce1ba;
    --bs-yellow-bg-subtle: #fff4b3;
    --bs-yellow-text-emphasis: #4d4100;
    --bs-yellow-border-subtle: #fff4b3;
    --bs-green-bg-subtle: #c2e5c2;
    --bs-green-text-emphasis: #0f330f;
    --bs-green-border-subtle: #c2e5c2;
    --bs-teal-bg-subtle: #b3e6e6;
    --bs-teal-text-emphasis: #003434;
    --bs-teal-border-subtle: #b3e6e6;
    --bs-lime-bg-subtle: #deefc9;
    --bs-lime-text-emphasis: #2b3d17;
    --bs-lime-border-subtle: #deefc9;
    --bs-cyan-bg-subtle: #c8e9f3;
    --bs-cyan-text-emphasis: #163740;
    --bs-cyan-border-subtle: #c8e9f3;
    --bs-white-bg-subtle: white;
    --bs-white-text-emphasis: #4d4d4d;
    --bs-white-border-subtle: white;
    --bs-gray-bg-subtle: #d3d6d8;
    --bs-gray-text-emphasis: #202326;
    --bs-gray-border-subtle: #d3d6d8;
    --bs-gray-dark-bg-subtle: #c0c2c5;
    --bs-gray-dark-text-emphasis: #0e1012;
    --bs-gray-dark-border-subtle: #c0c2c5;
    --bs-muted-bg-subtle: #e6e9eb;
    --bs-muted-text-emphasis: #343639;
    --bs-muted-border-subtle: #e6e9eb;
    --bs-black-bg-subtle: #b3b3b3;
    --bs-black-text-emphasis: black;
    --bs-black-border-subtle: #b3b3b3;
    --bs-silver-bg-subtle: #e9edef;
    --bs-silver-text-emphasis: #373a3c;
    --bs-silver-border-subtle: #e9edef;
    --bs-gray-100-bg-subtle: #fdfdfe;
    --bs-gray-100-text-emphasis: #4a4b4b;
    --bs-gray-100-border-subtle: #fdfdfe;
    --bs-gray-200-bg-subtle: #f8f9fa;
    --bs-gray-200-text-emphasis: #464748;
    --bs-gray-200-border-subtle: #f8f9fa;
    --bs-gray-300-bg-subtle: #f5f6f8;
    --bs-gray-300-text-emphasis: #434445;
    --bs-gray-300-border-subtle: #f5f6f8;
    --bs-gray-400-bg-subtle: #f0f2f4;
    --bs-gray-400-text-emphasis: #3e4041;
    --bs-gray-400-border-subtle: #f0f2f4;
    --bs-gray-500-bg-subtle: #e6e9eb;
    --bs-gray-500-text-emphasis: #343639;
    --bs-gray-500-border-subtle: #e6e9eb;
    --bs-gray-600-bg-subtle: #d3d6d8;
    --bs-gray-600-text-emphasis: #202326;
    --bs-gray-600-border-subtle: #d3d6d8;
    --bs-gray-700-bg-subtle: #c8cbcd;
    --bs-gray-700-text-emphasis: #16181a;
    --bs-gray-700-border-subtle: #c8cbcd;
    --bs-gray-800-bg-subtle: #c0c2c5;
    --bs-gray-800-text-emphasis: #0e1012;
    --bs-gray-800-border-subtle: #c0c2c5;
    --bs-gray-900-bg-subtle: #bcbebf;
    --bs-gray-900-text-emphasis: #0a0b0d;
    --bs-gray-900-border-subtle: #bcbebf
}

[data-bs-theme=dark] {
    --bs-body-bg: #161a1d;
    --bs-body-color: #dee2e6;
    --bs-dark: #f8f9fa;
    --bs-dark-rgb: 248,249,250;
    --bs-light: #20252a;
    --bs-light-rgb: 32,37,42;
    --bs-border-color: #6c757d;
    --bs-app-header-bg: #262d33;
    --bs-app-header-color: #FFFFFF;
    --bs-app-header-input-bg: #1b1f24;
    --bs-app-header-input-border: #1b1f24;
    --bs-app-header-divider-bg: #495057;
    --bs-app-header-mobile-divider-bg: #20252a;
    --bs-app-sidebar-bg: #2d353c;
    --bs-app-sidebar-bg-rgb: 45,53,60;
    --bs-app-sidebar-profile-bg: #20252a;
    --bs-app-sidebar-profile-bg-rgb: 32,37,42;
    --bs-app-sidebar-profile-color: #FFFFFF;
    --bs-app-sidebar-profile-color-rgb: 255,255,255;
    --bs-app-sidebar-component-color: #FFFFFF;
    --bs-app-sidebar-component-color-rgb: 255,255,255;
    --bs-app-sidebar-component-active-bg: #20252a;
    --bs-app-sidebar-component-active-color: #FFFFFF;
    --bs-app-sidebar-menu-header-color: rgba(255, 255, 255, 0.45);
    --bs-app-sidebar-menu-divider-bg: #20252a;
    --bs-app-sidebar-menu-icon-color: inherit;
    --bs-app-sidebar-menu-badge-bg: #20252a;
    --bs-app-sidebar-menu-badge-color: #FFFFFF;
    --bs-app-sidebar-menu-badge-font-weight: 400;
    --bs-app-sidebar-menu-link-font-weight: 400;
    --bs-app-sidebar-menu-link-color: rgba(255, 255, 255, 0.6);
    --bs-app-sidebar-menu-link-hover-color: #FFFFFF;
    --bs-app-sidebar-menu-submenu-bg: none;
    --bs-app-sidebar-menu-submenu-link-color: rgba(255, 255, 255, 0.45);
    --bs-app-sidebar-menu-submenu-link-hover-color: #FFFFFF;
    --bs-app-sidebar-menu-submenu-link-font-weight: 400;
    --bs-app-sidebar-menu-grid-bg: #20252a;
    --bs-app-sidebar-menu-grid-border-width: 1px;
    --bs-app-sidebar-menu-grid-border-color: rgba(255, 255, 255, 0.6);
    --bs-app-sidebar-grid-border-color: #3d4852;
    --bs-app-sidebar-float-submenu-bg: #20252a;
    --bs-app-sidebar-float-submenu-grid-border-color: #2d353c;
    --bs-app-sidebar-minify-btn-bg: #242b30;
    --bs-app-sidebar-minify-btn-hover-bg: #20252a;
    --bs-app-top-menu-bg: #20252a;
    --bs-app-top-menu-link-color: rgba(255, 255, 255, 0.6);
    --bs-app-top-menu-link-font-weight: 400;
    --bs-app-top-menu-link-hover-color: #FFFFFF;
    --bs-app-top-menu-link-hover-bg: none;
    --bs-app-top-menu-link-active-color: #FFFFFF;
    --bs-app-top-menu-link-active-bg: none;
    --bs-app-top-menu-menu-badge-bg: #495057;
    --bs-app-top-menu-menu-badge-color: #e9ecef;
    --bs-app-top-menu-menu-badge-font-weight: 600;
    --bs-app-top-menu-menu-submenu-bg: #2d353c;
    --bs-app-top-menu-menu-submenu-submenu-bg: rgba(0, 0, 0, 0.2);
    --bs-app-top-menu-control-link-bg: #2d353c;
    --bs-app-top-menu-control-link-color: rgba(255, 255, 255, 0.6);
    --bs-app-top-menu-control-link-hover-bg: #242b30;
    --bs-app-top-menu-control-link-hover-color: #FFFFFF;
    --bs-app-login-bg-cover: url(images/bg-login-dark-mode.png);
    --bs-component-bg: #2d353c;
    --bs-component-bg-rgb: 45,53,60;
    --bs-component-secondary-bg: #495057;
    --bs-component-secondary-bg-rgb: 73,80,87;
    --bs-component-tertiary-bg: #6c757d;
    --bs-component-tertiary-bg-rgb: 108,117,125;
    --bs-component-color: #FFFFFF;
    --bs-component-color-rgb: 255,255,255;
    --bs-component-border-color: #495057;
    --bs-component-border-color-rgb: 73,80,87;
    --bs-component-hover-bg: #4d5359;
    --bs-component-hover-color: #FFFFFF;
    --bs-component-hover-border-color: rgba(222, 226, 230, 0.125);
    --bs-component-disabled-bg: #495057;
    --bs-component-disabled-border-color: #495057;
    --bs-component-disabled-color: #6c757d;
    --bs-component-dropdown-bg: #495057;
    --bs-component-dropdown-bg-rgb: 73,80,87;
    --bs-component-dropdown-hover-bg: #6c757d;
    --bs-component-dropdown-hover-bg-rgb: 108,117,125;
    --bs-component-dropdown-border-color: #6c757d;
    --bs-component-dropdown-border-color-rgb: 108,117,125;
    --bs-component-modal-bg: #495057;
    --bs-component-modal-bg-rgb: 73,80,87;
    --bs-component-modal-border-color: #6c757d;
    --bs-component-modal-border-color-rgb: 108,117,125;
    --bs-component-secondary-bg: #495057;
    --bs-component-table-border-color: #495057;
    --bs-component-table-separator-color: #adb5bd;
    --bs-default-bg-subtle: #2f2f30;
    --bs-default-text-emphasis: #f2f4f5;
    --bs-default-border-subtle: #2f2f30;
    --bs-primary-bg-subtle: #0a1d2d;
    --bs-primary-text-emphasis: #85bcee;
    --bs-primary-border-subtle: #0a1d2d;
    --bs-secondary-bg-subtle: #161719;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-secondary-border-subtle: #161719;
    --bs-success-bg-subtle: #002222;
    --bs-success-text-emphasis: #66cdcd;
    --bs-success-border-subtle: #002222;
    --bs-info-bg-subtle: #0f242b;
    --bs-info-text-emphasis: #92d3e6;
    --bs-info-border-subtle: #0f242b;
    --bs-warning-bg-subtle: #311f05;
    --bs-warning-text-emphasis: #f9c476;
    --bs-warning-border-subtle: #311f05;
    --bs-danger-bg-subtle: #331211;
    --bs-danger-text-emphasis: #ff9d9a;
    --bs-danger-border-subtle: #331211;
    --bs-light-bg-subtle: #303131;
    --bs-light-text-emphasis: #f7f8f8;
    --bs-light-border-subtle: #303131;
    --bs-dark-bg-subtle: #090b0c;
    --bs-dark-text-emphasis: #81868a;
    --bs-dark-border-subtle: #090b0c;
    --bs-inverse-bg-subtle: #090b0c;
    --bs-inverse-text-emphasis: #81868a;
    --bs-inverse-border-subtle: #090b0c;
    --bs-blue-bg-subtle: #0a1d2d;
    --bs-blue-text-emphasis: #85bcee;
    --bs-blue-border-subtle: #0a1d2d;
    --bs-indigo-bg-subtle: #1b112c;
    --bs-indigo-text-emphasis: #b798eb;
    --bs-indigo-border-subtle: #1b112c;
    --bs-purple-bg-subtle: #171924;
    --bs-purple-text-emphasis: #aab0d3;
    --bs-purple-border-subtle: #171924;
    --bs-pink-bg-subtle: #32111e;
    --bs-pink-text-emphasis: #fd99c1;
    --bs-pink-border-subtle: #32111e;
    --bs-red-bg-subtle: #331211;
    --bs-red-text-emphasis: #ff9d9a;
    --bs-red-border-subtle: #331211;
    --bs-orange-bg-subtle: #311f05;
    --bs-orange-text-emphasis: #f9c476;
    --bs-orange-border-subtle: #311f05;
    --bs-yellow-bg-subtle: #332b00;
    --bs-yellow-text-emphasis: #ffe866;
    --bs-yellow-border-subtle: #332b00;
    --bs-green-bg-subtle: #0a220a;
    --bs-green-text-emphasis: #84cb84;
    --bs-green-border-subtle: #0a220a;
    --bs-teal-bg-subtle: #002222;
    --bs-teal-text-emphasis: #66cdcd;
    --bs-teal-border-subtle: #002222;
    --bs-lime-bg-subtle: #1d280f;
    --bs-lime-text-emphasis: #bcdf93;
    --bs-lime-border-subtle: #1d280f;
    --bs-cyan-bg-subtle: #0f242b;
    --bs-cyan-text-emphasis: #92d3e6;
    --bs-cyan-border-subtle: #0f242b;
    --bs-white-bg-subtle: #333333;
    --bs-white-text-emphasis: white;
    --bs-white-border-subtle: #333333;
    --bs-gray-bg-subtle: #161719;
    --bs-gray-text-emphasis: #a7acb1;
    --bs-gray-border-subtle: #161719;
    --bs-gray-dark-bg-subtle: #090b0c;
    --bs-gray-dark-text-emphasis: #81868a;
    --bs-gray-dark-border-subtle: #090b0c;
    --bs-muted-bg-subtle: #232426;
    --bs-muted-text-emphasis: #ced3d7;
    --bs-muted-border-subtle: #232426;
    --bs-black-bg-subtle: black;
    --bs-black-text-emphasis: #666666;
    --bs-black-border-subtle: black;
    --bs-silver-bg-subtle: #242728;
    --bs-silver-text-emphasis: #d3dadf;
    --bs-silver-border-subtle: #242728;
    --bs-gray-100-bg-subtle: #323232;
    --bs-gray-100-text-emphasis: #fbfbfc;
    --bs-gray-100-border-subtle: #323232;
    --bs-gray-200-bg-subtle: #2f2f30;
    --bs-gray-200-text-emphasis: #f2f4f5;
    --bs-gray-200-border-subtle: #2f2f30;
    --bs-gray-300-bg-subtle: #2c2d2e;
    --bs-gray-300-text-emphasis: #ebeef0;
    --bs-gray-300-border-subtle: #2c2d2e;
    --bs-gray-400-bg-subtle: #292a2c;
    --bs-gray-400-text-emphasis: #e2e5e9;
    --bs-gray-400-border-subtle: #292a2c;
    --bs-gray-500-bg-subtle: #232426;
    --bs-gray-500-text-emphasis: #ced3d7;
    --bs-gray-500-border-subtle: #232426;
    --bs-gray-600-bg-subtle: #161719;
    --bs-gray-600-text-emphasis: #a7acb1;
    --bs-gray-600-border-subtle: #161719;
    --bs-gray-700-bg-subtle: #0f1011;
    --bs-gray-700-text-emphasis: #92969a;
    --bs-gray-700-border-subtle: #0f1011;
    --bs-gray-800-bg-subtle: #090b0c;
    --bs-gray-800-text-emphasis: #81868a;
    --bs-gray-800-border-subtle: #090b0c;
    --bs-gray-900-bg-subtle: #060708;
    --bs-gray-900-text-emphasis: #797c7f;
    --bs-gray-900-border-subtle: #060708
}

[data-bs-theme=dark] .table {
    --bs-table-striped-bg: #495057;
    --bs-table-active-color: var(--bs-component-color);
    --bs-table-active-bg: $gray-700;
    --bs-table-hover-color: var(--bs-component-color);
    --bs-table-hover-bg: rgba(73, 80, 87, 0.85)
}

[data-bs-theme=dark] .bg-dark,[data-bs-theme=dark] .bg-white {
    --bs-bg-opacity: .25
}

[data-bs-theme=dark] .text-dark {
    --bs-text-opacity: .5;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important
}

[data-bs-theme=dark] .btn-dark,[data-bs-theme=dark] .btn-white {
    border-color: transparent;
    background-color: #495057;
    color: #fff
}

[data-bs-theme=dark] .btn-dark.active,[data-bs-theme=dark] .btn-dark:focus,[data-bs-theme=dark] .btn-dark:hover,[data-bs-theme=dark] .btn-white.active,[data-bs-theme=dark] .btn-white:focus,[data-bs-theme=dark] .btn-white:hover {
    background-color: #6c757d;
    border-color: transparent;
    color: #fff
}

[data-bs-theme=dark] .btn-outline-default,[data-bs-theme=dark] .btn-outline-inverse {
    color: #6c757d;
    border-color: #6c757d
}

[data-bs-theme=dark] .btn-outline-default.active,[data-bs-theme=dark] .btn-outline-default:focus,[data-bs-theme=dark] .btn-outline-default:hover,[data-bs-theme=dark] .btn-outline-inverse.active,[data-bs-theme=dark] .btn-outline-inverse:focus,[data-bs-theme=dark] .btn-outline-inverse:hover {
    background-color: #6c757d;
    color: #fff!important
}

[data-bs-theme=dark] .btn-default {
    background: #6c757d;
    border-color: #6c757d;
    color: #fff
}

[data-bs-theme=dark] .btn-default.active,[data-bs-theme=dark] .btn-default:focus,[data-bs-theme=dark] .btn-default:hover {
    background: #495057;
    border-color: #495057;
    color: #fff
}

[data-bs-theme=dark] .btn-group>.btn-white+.btn-white {
    border-left-color: #6c757d
}